<?xml version="1.0" encoding="UTF-8"?>
<web-app>  
  
<servlet>  
<servlet-name>a</servlet-name>  
<servlet-class>com.servlet.in.DemoServlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>a</servlet-name>  
<url-pattern>/</url-pattern>  
</servlet-mapping>  
  <welcome-file-list>
  <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>  